ul {
    list-style: none;
    display: grid;
    gap: 1.5rem;
    padding-inline: 1.5rem;
}

@media (min-width: 30rem) {
    ul {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}