<section *ngIf="wizards.length > 0; else not_found">
    <ul class="wizard-list">
        <app-wizard-card *ngFor="let wizard of wizards" [wizard]="wizard"></app-wizard-card>
    </ul>
</section>

<ng-template #not_found>
    Aucun sorcier ou sorcière ne correspond à votre recherche...
</ng-template>