.wizard-card {
  display: grid;
  height: 100%;
  box-shadow: 0 0.5rem 0.5rem rgba(black, 0.5);
  opacity: .8;

  &[data-house="gryffindor"] {
    background: linear-gradient(red, #AAA);
  }
  &[data-house="slytherin"] {
    background: linear-gradient(teal, #AAA);;
  }
  &[data-house="hufflepuff"] {
    background: linear-gradient(yellow, #AAA);;
  }
  &[data-house="ravenclaw"] {
    background: linear-gradient(blue, #AAA);;
  }

  figure {
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: red;
    }
  }

  .info {
    flex: 1;

    header {
      position: relative;
      text-align: center;
      background-color: black;
      color: white;
      transform: translate(1rem, -1rem);

      &::after {
        --sz-decorator: 2rem;
        content: "";
        position: absolute;
        bottom: 0;
        left: 2rem;
        height: var(--sz-decorator);
        width: var(--sz-decorator);
        background-color: black;
        transform: rotate(45deg) translateY(calc(var(--sz-decorator) / 2));
        z-index: -1;
      }

      h2 {
        margin-block: 0;
      }
    }
      
    .details {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (min-width: 30rem) {
  .wizard-card {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 30rem) {
  figure {
    height: 10rem;
  }
}

