<li class="wizard-card" *ngIf="wizard" [attr.data-house]="wizard.house.toLowerCase()">
    <figure>
        <img src="{{wizard.image}}" alt="{{ wizard.name }}">
    </figure>
    <div class="info">
        <header>
            <h2>{{ wizard.name }}</h2>
            <small>Interprété par {{ wizard.actor }}</small>
        </header>
        <div class="details">
            <div>Maison : <strong>{{ wizard.house }}</strong></div>
            <time *ngIf="wizard.dateOfBirth">
                Date de naissance: {{ wizard.dateOfBirth }}
            </time>
            <div>
                Role: {{ wizard.hogwartsStudent ? "Etudiant": ""}} {{ wizard.hogwartsStaff ? "Professeur" : ""}}
            </div>
        </div>
    </div>
</li>