<h1>Bienvenue à Poudlard</h1>
<nav class="main-nav">
    <ul>
        <li><a routerLink="/">Tous les sorciers</a></li>
        <li><a routerLink="/house/gryffindor" class="gryffindor">Griffondor</a></li>
        <li><a routerLink="/house/hufflepuff" class="hufflepuff">Pouffesouffle</a></li>
        <li><a routerLink="/house/ravenclaw" class="ravenclaw">Serdaigle</a></li>
        <li><a routerLink="/house/slytherin" class="slytherin">Serpentard</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>