.main-nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-block: 2rem;
        padding-inline: 1rem;

        li {
            text-transform: uppercase;

            a {
                display: block;
                border: 1px solid black;
                padding: 1rem;
                color: black;
                font-weight: bold;
                text-decoration: none;

                &.gryffindor {
                    background-color: rgba(red, .5);
                }
                &.hufflepuff {
                    background-color: rgba(yellow, .5);
                }
                &.ravenclaw {
                    background-color: rgba(blue, .5);
                }
                &.slytherin {
                    background-color: rgba(teal, .5);
                }
            }
        }
    }
}

@media (max-width: 30em) {
    .main-nav {
        ul {
            flex-direction: column;
          
        }
    }
}